{% load i18n perms %}
<div id="custom_objects_list" class="htmx-container">
    {# --- top paginator --- #}
    {% include 'inc/paginator.html' with paginator=paginator page=page_obj placement='top' htmx=True table=htmx_table %}
    {# --- table or empty state --- #}
    {% if page_rows %}
        <div class="table-responsive">
            <table class="table table-hover attr-table mb-0">
                <thead hx-target="#custom_objects_list"
                       hx-swap="outerHTML"
                       hx-push-url="true">
                    <tr>
                        {% if 'type' in selected_columns %}
                            <th>
                                <a hx-get="{{ sort_headers.type.url }}">
                                    {% trans "Type" %}
                                    {% if sort_headers.type.icon %}<i class="mdi mdi-{{ sort_headers.type.icon }}"></i>{% endif %}
                                </a>
                            </th>
                        {% endif %}
                        {% if 'object' in selected_columns %}
                            <th>
                                <a hx-get="{{ sort_headers.object.url }}">
                                    {% trans "Object" %}
                                    {% if sort_headers.object.icon %}<i class="mdi mdi-{{ sort_headers.object.icon }}"></i>{% endif %}
                                </a>
                            </th>
                        {% endif %}
                        {% if 'value' in selected_columns %}
                            <th>{% trans "Value" %}</th>
                        {% endif %}
                        {% if 'field' in selected_columns %}
                            <th>
                                <a hx-get="{{ sort_headers.field.url %}">
                                    {% trans "Field" %}
                                    {% if sort_headers.field.icon %}<i class="mdi mdi-{{ sort_headers.field.icon }}"></i>{% endif %}
                                </a>
                            </th>
                        {% endif %}
                        {% if 'tags' in selected_columns %}
                            <th>{% trans "Tags" %}</th>
                        {% endif %}
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj, field, value in page_rows %}
                        <tr>
                            {% if 'type' in selected_columns %}
                                <td>
                                    {% if request.user|can_view:field.custom_object_type %}
                                        <a href="{{ field.custom_object_type.get_absolute_url }}">{{ field.custom_object_type }}</a>
                                    {% else %}
                                        {{ field.custom_object_type }}
                                    {% endif %}
                                </td>
                            {% endif %}
                            {% if 'object' in selected_columns %}
                                <td>
                                    <a href="{{ obj.get_absolute_url }}">{{ obj }}</a>
                                </td>
                            {% endif %}
                            {% if 'value' in selected_columns %}
                                <td>
                                    {% if field.type == 'object' %}
                                        {% if value %}
                                            <a href="{{ value.get_absolute_url }}">{{ value }}</a>
                                        {% else %}
                                            &mdash;
                                        {% endif %}
                                    {% elif field.type == 'multiobject' %}
                                        {% if value %}
                                            {% for related_obj in value|slice:":3" %}
                                                <a href="{{ related_obj.get_absolute_url }}">{{ related_obj }}</a>
                                                {% if not forloop.last %},{% endif %}
                                            {% endfor %}
                                            {% if value|length > 3 %}&hellip;{% endif %}
                                        {% else %}
                                            &mdash;
                                        {% endif %}
                                    {% else %}
                                        &mdash;
                                    {% endif %}
                                </td>
                            {% endif %}
                            {% if 'field' in selected_columns %}<td>{{ field }}</td>{% endif %}
                            {% if 'tags' in selected_columns %}
                                <td>
                                    {% for t in obj.tags.all %}
                                        {% tag t %}
                                        {% if not forloop.last %}{% endif %}
                                    {% empty %}
                                        &mdash;
                                    {% endfor %}
                                </td>
                            {% endif %}
                            <td class="text-end text-nowrap">
                                {% if request.user|can_change:obj %}
                                    <a href="{% url 'plugins:netbox_custom_objects:customobject_edit' pk=obj.pk custom_object_type=obj.custom_object_type.slug %}?return_url={{ return_url|urlencode }}"
                                       class="btn btn-yellow"
                                       role="button">
                                        <i class="mdi mdi-pencil" aria-hidden="true"></i> Edit
                                    </a>
                                {% endif %}
                                {% if request.user|can_delete:obj %}
                                    <a href="{% url 'plugins:netbox_custom_objects:customobject_delete' pk=obj.pk custom_object_type=obj.custom_object_type.slug %}?return_url={{ return_url|urlencode }}"
                                       class="btn btn-red"
                                       role="button">
                                        <i class="mdi mdi-trash-can-outline" aria-hidden="true"></i> Delete
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="card-body text-muted">
            {% if q or type_slug or tag_slug %}
                {% trans "No custom objects match your filters." %}
            {% else %}
                {% trans "No custom objects are linked to this object." %}
            {% endif %}
        </div>
    {% endif %}
    {# --- bottom paginator --- #}
    {% include 'inc/paginator.html' with paginator=paginator page=page_obj placement='bottom' htmx=True table=htmx_table %}
</div>
